.navbar{color: yellowgreen; font-size:xx-large; background-color:chocolate; display:flex; justify-content:space-evenly;}
h1{color:crimson;}
h2{color: blue;}
*{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
img{width: 30%;}